/*// Details Blog Try */
.blog-entry.full .owl-theme .owl-controls .owl-buttons div {
  background: transparent;
  color: #333;
  font-size: 20px;
}

.blog-entry.teaser .owl-carousel .owl-item img {
  margin: 0 auto;
}

.blog-entry.teaser .owl-theme .owl-controls .owl-buttons div svg {
  display: none;
}

.blog-entry.teaser .owl-theme .owl-controls .owl-buttons div.owl-next {
  background: url(/sites/all/themes/sra/images/arr-right-big.png) no-repeat center transparent;
  height: 100%;
  width: 70px;
  opacity: 1;
  left: auto;
  right: 0;
}

.blog-entry.teaser .owl-theme .owl-controls .owl-buttons div.owl-next:hover {
  background-image: url(/sites/all/themes/sra/images/arr-right-big-hv.png);
}

.blog-entry.teaser .owl-theme .owl-controls .owl-buttons div.owl-prev {
  background: url(/sites/all/themes/sra/images/arr-left-big.png) no-repeat center transparent;
  height: 100%;
  width: 70px;
  opacity: 1;
  cursor: pointer;
  z-index: 9999;
}

.blog-entry.teaser .owl-theme .owl-controls .owl-buttons div.owl-prev:hover {
  background-image: url(/sites/all/themes/sra/images/arr-left-hv.png);
}

.blog-entry.teaser .owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: transparent;
}

.blog-entry.teaser .owl-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #33333378;
  padding-top: 5px;
}

.blog-entry.teaser .owl-theme .owl-controls .owl-page span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
  background: #fff;
  border: 0;
}

.blog-entry.teaser .owl-theme .owl-controls .owl-page.active span {
  width: 12px;
  height: 12px;
  background: #1362aa;
  margin-bottom: 2px;
}

.blog-entry.teaser {
  margin-bottom: 20px;
}

.blog-entry.teaser .field--name-body {
  margin-top: 30px;
}

.blog-entry.teaser .post-date {
  margin-bottom: 20px;
}

fieldset#edit-class-of-membership--wrapper legend {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  border: 0;
}

div#edit-class-of-membership {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

fieldset#edit-class-of-membership--wrapper .radio + .radio, fieldset#edit-class-of-membership--wrapper .checkbox + .checkbox {
  margin-top: 10px
}

form#webform-submission-join-as-member-add-form .form-type-textfield input {
  height: 34px;
}

form#webform-submission-join-as-member-add-form .form-type-textfield input, form#webform-submission-join-as-member-add-form .form-type-textarea textarea {
  background: #EEEEEE;
  width: 100%;
  border: none;
  display: block;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.sitemap-box-front.sitemap-box .content a {
  display: inline-block;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 10px;
  padding-left: 10px;
}

.latest-news img {
  width: 100%;
}

.container {
  max-width: 980px;
  padding-right: 20px;
  padding-left: 20px;
}

/* Webform */
form.webform-submission-oridinary-member-form,
form#webform-submission-associate-member-add-form,
form#webform-submission-affiliate-member-add-form {
  border: 1px solid #ccc;
  padding: 20px 0;
}

form#webform-submission-associate-member-add-form > .form-wrapper,
form#webform-submission-associate-member-add-form > .form-item,
form.webform-submission-oridinary-member-form > .form-wrapper,
form.webform-submission-oridinary-member-form > .form-item,
form#webform-submission-affiliate-member-add-form > .form-item,
form#webform-submission-affiliate-member-add-form > .form-wrapper {
  border: 1px solid transparent;
  box-shadow: none;
  padding: 0 15px;
  margin: 0 0 20px;
}

form.webform-submission-oridinary-member-form > .panel,
form#webform-submission-associate-member-add-form > .panel,
form#webform-submission-affiliate-member-add-form > .panel {
  box-shadow: none;
}

div#edit-other-contact-persons,
div#edit-authorised-representatives,
div#edit-company-structure,
div#edit-industry-segment,
div#edit-geographical-scope-of-operations,
#edit-banking-details {
  padding: 0 !important;
}

form.webform-submission-oridinary-member-form > div#edit-actions,
form#webform-submission-associate-member-add-form > div#edit-actions,
form#webform-submission-affiliate-member-add-form > div#edit-actions {
  border: none;
  text-align: right;
}

form.webform-submission-oridinary-member-form ol > li + li,
form#webform-submission-associate-member-add-form ol > li + li,
form#webform-submission-affiliate-member-add-form ol > li + li {
  margin-top: 10px;
}

fieldset#edit-other--wrapper legend,
fieldset#edit-other-2--wrapper legend,
fieldset#edit-others-please-specify-3--wrapper legend {
  width: 21%;
}

fieldset#edit-other--wrapper .form-item-other-other,
fieldset#edit-other-2--wrapper .form-item-other-2-other,
fieldset#edit-others-please-specify-3--wrapper .form-item-others-please-specify-3-other {
  width: 17.2%;
}

.form-type-date.js-form-type-date:before {
  content: '';
  width: 30px;
  height: 20px;
  display: block;
  background: #fff;
  position: absolute;
  bottom: 7px;
  right: 32px;
}

div#edit-company-structure-radios, #edit-industry-segment-checkboxes {
  width: 100%;
}

.select-wrapper select {
  line-height: 1.4;
}

#edit-banking-details .panel-heading .panel-title {
  font-size: 20px !important;
  font-weight: 600;
}

div#edit-banking-details {
  border-top: 1px solid #ccc !important;
}

.js-form-type-textfield.form-item-company-structure-other, .js-form-type-textfield.form-item-industry-segment-other {
  width: 50% !important;
  position: absolute;
  right: 0;
  bottom: 15px;
  padding-right: 15px;
}

div#edit-company-structure-radios > div, #edit-industry-segment-checkboxes > div {
  margin-bottom: 15px;
}
.form-item-payment-amount.js-form-item-payment-amount.form-group:before {
  content:  '$';
  position: absolute;
  bottom: 7px;
  left: 10px;
  font-size: 14px;
}

.form-item-payment-amount.js-form-item-payment-amount {
  position: relative;
}

.form-item-payment-amount.js-form-item-payment-amount input {
  padding-left: 22px!important;
}

.form-item-payment-amount.js-form-item-payment-amount {font-size: 0;}

.form-item-payment-amount.js-form-item-payment-amount label {
  font-size: 16px;
}
.form-type-date.js-form-type-date {
  position: relative;
}

.path-webform .main-container h1.page-header {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.webform-confirmation__message {
  font-size: 21px;
}

.webform-confirmation {
  text-align: center;
  margin: 30px 0;
}

fieldset#edit-please-specify-middle-east-africa--wrapper legend {
  width: 190px
}

input[type="date"].form-control {
  line-height: 20px;
}

fieldset#edit-please-specify-middle-east-africa--wrapper .fieldset-wrapper {
  width: 50%;
}

div#edit-company-structure , #edit-industry-segment{
  width: 100%;
  position: relative;
}

div#edit-company-structure > div {
  width: 100%;
}

.form-item-full-name-of-company label.control-label,
div#edit-other-contact-persons label.control-label,
div#edit-authorised-representatives label.control-label,
div#edit-flexbox-01 label.control-label,
div#edit-flexbox-03 label.control-label,
div#edit-flexbox label.control-label,
.form-item-address label.control-label,
fieldset#edit-company-structure--wrapper label.control-label {
  font-size: 14px;
  margin-bottom: 0;
}

div#edit-geographical-scope-of-operations .webform-flexbox {
  align-items: center;
}

div#edit-flexbox .webform-flex--container,
div#edit-flexbox-01 .webform-flex--container {
  margin: 0;
}

div#edit-flexbox .webform-flex.webform-flex--1:first-child .webform-flex--container,
div#edit-flexbox-01 .webform-flex.webform-flex--1:first-child .webform-flex--container,
div#edit-flexbox-01 .webform-flex.webform-flex--1:nth-child(2) .webform-flex--container {
  margin-right: 15px;
}

p.intruc {
  float: left;
}

p.one, p.two {
  padding-left: 100px;
}

.fieldset_hidden .panel-heading {
  display: none;
}

div#edit-authorised-representatives .panel-body > div,
div#edit-other-contact-persons .panel-body > div {
  border: none;
  display: flex;
  margin: 0;
  align-items: center;
}

div#edit-geographical-scope-of-operations .webform-flex.webform-flex--1:first-child {
  flex: 0 0 72%;
}

.webform-submission-join-our-interest-groups-form .form-item-policy label.control-label.option {
  font-size: 0 !important;
  float: left;
  margin-top: 5px;
}

.webform-submission-join-our-interest-groups-form .form-item-policy {
  display: flex;
}

.webform-submission-join-our-interest-groups-form div#edit-policy--description {
  white-space: normal;
}

.webform-submission-join-our-interest-groups-form div#edit-mandatory-fields span {
  font-size: 12px;
}

.webform-submission-join-our-interest-groups-form .intl-tel-input.allow-dropdown, .webform-submission-join-our-interest-groups-form .intl-tel-input.allow-dropdown input {
  width: 100%;
}

.webform-submission-join-our-interest-groups-form .webform-flexbox {
  margin-left: 0;
  margin-right: 0;
}
.webform-submission-join-our-interest-groups-form div#edit-actions {
  text-align: right;
}

section#block-contactright {
  text-align: center;
  margin-top: 80px;
  margin-left: 85px;
}

#block-contactright .field--name-body a {
  padding: 15px;
  background: #005eb4;
  color: #fff;
  display: inline-block;
  width: 250px;
  text-align: center;
  border-radius: 10px;
}
div#edit-signature-company-stamp--description {
  display: none;
}
form#webform-submission-affiliate-member-add-form .js-form-type-textfield.form-item-company-structure-other{
  bottom: -10px;
}
.form-item-industry-segment-please-specify- .description.help-block {
  display: inline-block;
}
#edit-type-of-reinsurance-operation-tick-whichever-is-applicable---wrapper .description {
  font-size: 12px;
  color: #777777;
  /* display: flex; */
}
div#edit_address_code_country_chosen {
  padding: 0;
  border: 0;
}
.chosen-container-single .chosen-single{
  height: 100%;
  line-height: 28px;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url(chosen-sprite.png) no-repeat 0px 8px;
}