
.profile-wrapper {
    position: relative;
    border-bottom: 1px solid #f5f5f5;
}

.content-wrapper {
    -webkit-transition: -webkit-transform .3s ease-in-out, margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, margin .3s ease-in-out;
    transition: transform .3s ease-in-out, margin .3s ease-in-out;
    margin-left: 300px;
    z-index: 820;

    padding: 15px;
}

aside.main-sidebar {
    position: absolute;
    top: 0;
    /* left: 0; */
    padding: 20px 15px;
    min-height: 100%;
    width: 300px;
    z-index: 810;
    -webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out;
    box-shadow: 0 0 6px #e2e2e2;
    background-color: #40485f;
    color: #fff;
}

aside.main-sidebar a {
    color: #fff !important;
}

.profile-wrapper.open .main-sidebar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 50px !important;
    z-index: 850;
}

.profile-wrapper.open .content-wrapper {
    margin-left: 50px !important;
    z-index: 840;
}

.info_user {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
    /*background-color: ##005eb4;*/
}

.info_user .avatar {
    margin-right: 13px;
}

/*Header Content*/
.header-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.header-content .sidebar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
}

.header-content .sidebar-toggle .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.header-content .menu-header-right {
    margin-left: auto;
}

.header-content .menu-header-right ul {
    list-style-type: none;
    margin-bottom: 0;
    color: #909090;
}

form#node-member-companies-edit-form button.tabledrag-toggle-weight.btn-sm.btn.btn-default {
    display: none;
}

form#node-member-companies-edit-form table#edit-field-image-table th:nth-child(3), form#node-member-companies-edit-form table#edit-field-image-table td:nth-child(3) {
    display: none;
}

form#node-member-companies-edit-form textarea {
    height: 34px;
}

form#node-member-companies-edit-form .filter-wrapper.form-inline.form-group.js-form-wrapper.form-wrapper {
    display: none;
}

form#node-member-companies-edit-form .form-item.js-form-item.form-type-vertical-tabs.js-form-type-vertical-tabs.form-item-.js-form-item-.form-no-label.form-group {
    display: none;
}

form#node-member-companies-edit-form button#edit-preview {
    display: none;
}

form#node-member-companies-edit-form a#edit-delete {
    display: none;
}

